<mat-nav-list class="min-width-200px">
  <a mat-list-item routerLinkActive="active-nav" routerLink="/js/home">Home</a>
  <a mat-list-item routerLinkActive="active-nav" routerLink="/js/location">Location</a>
  <a mat-list-item routerLinkActive="active-nav" routerLink="/js/comment">Comment</a>
  <a mat-list-item routerLinkActive="active-nav" routerLink="/js/variable">Variable</a>
  <a mat-list-item routerLinkActive="active-nav" routerLink="/js/function">Function</a>
  <a mat-list-item routerLinkActive="active-nav" routerLink="/js/window">Window</a>
  <a mat-list-item routerLinkActive="active-nav" routerLink="/js/datatype">Data Type</a>
  <a mat-list-item routerLinkActive="active-nav" routerLink="/js/jsonp">jsonp</a>
  <a mat-list-item routerLinkActive="active-nav" routerLink="/js/map-method">map Method (JS)</a>
  <a mat-list-item routerLinkActive="active-nav" routerLink="/js/spread-syntax">Spread Syntax</a>
</mat-nav-list>