<h1>CLI</h1>
CLI stands for command line interface. <a href="https://cli.angular.io/" target="_blank">Angular CLI</a> has the
following commands:
<ul>
    <li><code>npm install -g @angular/cli</code> --> installs angular cli and becomes available globally in the OS. If
        angular cli is already installed and you run this command again, it will intall the latest package overwriting
        the existing installation. </li>
    <li><code>ng new my-new-app</code> --> this will create a new workspace and project under the folder my-new-app.
    </li>
    <li><code>ng new</code> --> this will create a new project and will prompt you with questions including project
        name.</li>
    <li><code>ng serve</code> --> this will test your app locally at http://localhost:4200/ while developing. It builds
        and serves your app, rebuilding on file changes.</li>
    <li><code>ng generate ...</code> this will generate components, routes, services and pipes with test shells.</li>
    <li><code>ng build</code> --> builds the app and compiles it into an output directory named dist/.</li>
    <li><code>ng test</code> --> runs unit tests in a project.</li>
    <li><code>ng update</code> --> This command will analyse package.json and update the packages from dependencies.</li>
    <li><code>ng update @angular/core</code> --> You run this command from the workspace root directory to update the angular core to the latest stable version.</li>
    <li><code>ng update rxjs</code> --> updates rxjs.</li>
    <li><code>ng version or ng v</code> --> outputs angular cli version.</li>
    <li><code>ng config</code> --> Gets or sets angular configuration values in the angular.json file for the workspace.
    </li>
    <li><code>ng analytics</code> --> configures the gathering of angular cli usage metrics.</li>
    <li><code>ng add</code> --> adds support for an external library to your project.</li>
</ul>