<h1>Installation</h1>
<p>Install Sass using the following npm command at the command prompt. To run the npm command,
  you need to first
  install <a href="https://nodejs.org/en/download/" target="_blank">Node.js</a>.</p>
<code>
    npm install -g sass &nbsp;&nbsp;&nbsp;&nbsp;/*-g for installation as a global package*/ <br> 
    or <br>
    npm i -g sass &nbsp;&nbsp;&nbsp;&nbsp;/*i for install and -g for installation as a global package*/ <br>
    npm install sass &nbsp;&nbsp;&nbsp;&nbsp;/*installs sass as a local package in the project. Change directory into the project root and run this command.*/
</code>