<div fxLayout="row" class="min-height-95vh">
  <div fxLayout="row">
    <div>
      <mat-nav-list class="border-right-gray min-width-200px">
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/home">Home</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/data-binding">Data Binding</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/routing">Routing</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/cli">CLI</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/npm-command">npm Command</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/nodejs">Node.js</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/directive" fragment="ngfor">Directive</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/movie">Movie (non-http)</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/user">User (http)</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/async-pipe">User (async pipe)</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/node-api">User (Node API)</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/preflight-request">Preflight Request</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/jsonp">User (jsonp)</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/config">*.json file</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/http-service">http Service</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/search">Search</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/reactive-forms">Reactive Forms</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/dynamic-forms">Dynamic Forms</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/template-driven-forms">Template Driven Forms</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/html5-validation">html5 validation</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/regular-expression">regex</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/jwt">jwt</a>
      </mat-nav-list>
    </div>
    <div>
      <mat-nav-list class="min-width-200px">
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/styling">Styling</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/asset">Assets Folder</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/fragment">Fragment</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/dummy-text">Dummy Text</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/contact-list">Contacts</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/child">Child</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/parent">Parent</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/font-awesome">Font Awesome</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/performance-optimization">Performance Optimization</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/rxjs-library">RxJS Library</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/hero">Hero (In Memory Web API)</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/build-deployment">Build & Deployment</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/type-script">Type Script</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/hero-edit">Hero Edit</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/angular-material">Angualr Material</a>
        <a mat-list-item routerLinkActive="active-nav" routerLink="/angular/express-js">Express JS</a>
      </mat-nav-list>
    </div>
  </div>
  <div class="p-15 border-left-gray max-width-60pct">
    <router-outlet></router-outlet>
  </div>
</div>
