<h1>Angular Material</h1>

<ul>
  <li>
    <code>ng add @angular/material</code> This will install the Angular Material, the Component Dev Kit (CDK), Angular
    Animations. It will also ask you for the theme and browser animations. It will add project dependencies to
    package.json, Roboto font to index.html, add a few global CSS styles to
    <ul>
      <li>Remove margins from body</li>
      <li>Set height: 100% on html and body</li>
      <li>Set Roboto as the default application font</li>
    </ul>
  </li>
</ul>
<br>
<br>
Example: <br>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
