<div fxLayout="column" class="container-70pct">
  <div class="min-height-5vh">
    <nav mat-tab-nav-bar [backgroundColor]="background" [color]="color">
      <a mat-tab-link routerLink="/css/home" [active]="selectedTab==='css'">CSS</a>
      <a mat-tab-link routerLink="/sass/home" [active]="selectedTab==='sass'">Sass</a>
      <a mat-tab-link routerLink="/js/home" [active]="selectedTab==='js'">JavaScript</a>
      <a mat-tab-link routerLink="/log4net/home" [active]="selectedTab==='log4net'">Log4Net</a>
      <a mat-tab-link routerLink="/angular/home" [active]="selectedTab==='angular'">Angular</a>
      <a mat-tab-link (click)="logout()">Logout</a>
    </nav>
  </div>
  <div [ngSwitch]="selectedTab" fxLayout="row" class="min-height-95vh">
    <div *ngSwitchCase="'angular'">
      <app-angular-menu></app-angular-menu>
    </div>
    <div *ngSwitchCase="'log4net'">
      <app-log4net-menu></app-log4net-menu>
    </div>
    <div *ngSwitchCase="'js'">
      <app-js-menu></app-js-menu>
    </div>
    <div *ngSwitchCase="'sass'">
      <app-sass-menu></app-sass-menu>
    </div>
    <div *ngSwitchCase="'css'">
      <app-css-menu></app-css-menu>
    </div>
    <div class="p-15 border-left-gray max-width-60pct">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>